{{set . "title" "Home"}}
{{set . "bodyclass" "index"}}
{{append . "moreStyles" "css/index.css"}}
{{template "header.html" .}}

<header class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Go Go Gadget Go Blog</h1>
      </div>
      <div class="pull-right">
	<a href="{{url "App.Register"}}" class="btn btn-default">Sign Up</a>
	<br/>
	<a href="#" class="btn btn-default">Sign In</a>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
